<template>
  <div>
    <vs-row vs-type="flex" vs-justify="center">
      <vs-col vs-type="flex" vs-justify="center" vs-align="center"
        ><vs-input
          class="inputx search"
          v-model="searchQuery"
          autocomplete="off"
          placeholder="Search Articles"
      /></vs-col>
   

    <ul v-if="articles.length" class="my-1rem">
      <li v-for="article of articles" :key="article.slug" class="my-2">
        <NuxtLink :to="{ name: 'blog-slug', params: { slug: article.slug } }">
          {{ article.title }}
        </NuxtLink>
      </li>
    </ul>
     </vs-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchQuery: "",
      articles: [],
    };
  },
  watch: {
    async searchQuery(searchQuery) {
      if (!searchQuery) {
        this.articles = [];
        return;
      }
      this.articles = await this.$content("articles")
        .limit(6)
        .search(searchQuery)
        .fetch();
    },
  },
};
</script>


<style scoped>
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>