<template>
  <vs-row
    vs-justify="space-between"
    vs-align="flex-end"
    vs-type="flex"
    class="mt-4"
  >
    <vs-col
      vs-type="flex"
      class="mt-2"
      vs-justify="center"
      vs-align="center"
      vs-w="4"
      vs-sm="6"
    >
    </vs-col>
    <vs-col
      class="mt-2"
      vs-justify="center"
      vs-align="center"
      vs-type="flex"
      vs-w="8"
    >
      <vs-input label-placeholder="Details">Hello</vs-input>
    </vs-col>
  </vs-row>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
