<template>
  <vs-navbar class="nabarx font-bold" v-model="activeItem" type="gradient" style="text-align:center">
    <div slot="title">
      <vs-navbar-title>
        R0Ka1 blog
      </vs-navbar-title>
    </div>
    <vs-navbar-item index="0"><NuxtLink to="/">Home</NuxtLink></vs-navbar-item>
    <vs-navbar-item index="1"><NuxtLink to="/">About</NuxtLink></vs-navbar-item>
    <vs-navbar-item index="2"
      ><NuxtLink to="/">Contact</NuxtLink></vs-navbar-item
    >
  </vs-navbar>
</template>

<script>
export default {
  data: () => ({
    activeItem: 0,
  }),
};
</script>

<style scoped>
</style>