<template>
  <div>
    <vs-row>
      <vs-col vs-type="flex" vs-justify="center" vs-align="center">
        <div class="header">
          <h2>News Search</h2>
        </div>
      </vs-col>
      <vs-col
        class="search"
        vs-type="flex"
        vs-justify="center"
        vs-align="center"
      >
        <vs-input
          description-text="Categories: ( Health, Food, Entertainment, Sports, Finance )"
          variant="dark"
          clearable
          v-model="category"
          @keyup.enter="getNews"
          placeholder="Enter Category"
        />
      </vs-col>
    </vs-row>
    <keep-alive>
      <div v-if="newsItems">
        <vs-list style="width: 80vw; margin: 1.5rem auto">
          <vs-list-header title="Latest News"></vs-list-header>
          <vs-list-item
            style="margin-top: 5px"
            v-for="newsItem in newsItems"
            :key="newsItem.id"
            :title="newsItem.title"
            :subtitle="newsItem.description"
          >
            <vs-button type="relief" :href="newsItem.link" target="_blank"
              >Read</vs-button
            >
          </vs-list-item>
        </vs-list>
      </div>
    </keep-alive>
  </div>
</template>

<script>
import axios from "axios";
//const APIKEY = process.env.API_KEY;
export default {
  data: () => ({
    category: "",
    newsItems: undefined,
  }),
  methods: {
    async getNews() {
      this.$vs.loading({
        type: "point",
      });

      const response = await axios.get(
        `https://newsdata.io/api/1/news?apikey=${process.env.API_KEY}=${this.category}&language=en`
      );
      this.newsItems = response.data.results;
      console.log(this.newsItems);
      this.$vs.loading.close();
    },
  },
};
</script>

<style scoped>
.search {
  margin: 1rem 0 0 0;
}
</style>