<template>
  <nav :class="{ 'py-2': link.depth === 2, 'ml-2 pb-2': link.depth === 3 }">
    <ul>
      <li v-for="link of article.toc" :key="link.id">
        <NuxtLink :to="`#${link.id}`">{{ link.text }}</NuxtLink>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {};
</script>

<style>
</style>