<template>
  <div class="mt-2.5rem">
    <h1 class="text-center text-2xl my-1">Blog Posts</h1>
    <vs-row vs-type="flex" vs-justify="center" vs-align="center">
      <vs-col v-for="article of articles" :key="article.slug" vs-type="flex" vs-justify="center" vs-align="center" vs-w="12" vs-sm="5" mx="1rem" mt="2rem" vs-lg="5" vs-xs="8">
        <NuxtLink :to="{ name: 'blog-slug', params: { slug: article.slug } }">
        <vs-card actionable class="hover:bg-blue-100 dark:bg-gray-800 border border-blue-200 dark:border-gray-700 dark:hover:bg-gray-700">
          <div slot="media">
            <img :src="article.img" :alt="article.title">
          </div>
          <div>
            <h2 font="bold" text="xl">{{article.title}}</h2>
            <p class="text-xl">{{article.description}}</p>
          </div>
        </vs-card>
        </NuxtLink>
      </vs-col>
    </vs-row>
    <!--<ul>
      <li v-for="article of articles" :key="article.slug">
        <NuxtLink :to="{ name: 'blog-slug', params: { slug: article.slug } }">
          <img :src="article.img" />
          <div>
            <h2>{{ article.title }}</h2>
            <p>by {{ article.author.name }}</p>
            <p>{{ article.description }}</p>
          </div>
           <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{article.title}}</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">{{article.description}}</p>
          </div>
        </NuxtLink>
      </li>
    </ul>-->
  </div>
</template>


<script>
  export default {
    methods:{
      initialLoad(){
        this.$vs.loading({
        type: "point",
      });
      setTimeout(() => {
        this.$vs.loading.close()
      }, 500);
      }
    },
    created(){
      this.initialLoad()
    },
    async asyncData({ $content, params }) {
      const articles = await $content('articles')
        .only(['title', 'description', 'img', 'slug', 'author'])
        .sortBy('createdAt', 'asc')
        .fetch()

      return {
        articles
      }
    }
  }
</script>
